a {
    text-decoration: none;
    color: inherit;
}

.productsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
    flex-grow: 1;
    /* margin-top: 5%; */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    padding: 5%;
}

.products {
    height: 400px;
    width: 265px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    box-shadow: 1px 2px 5px black;
    border-radius: 12px;
    transition: transform 400ms ease-in;
    cursor: pointer;
}

.products:hover {
    transform: scale(1.012);
}

.products>img {
    height: 70%;
    width: 100%;
}

.productDesc {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.prod-desc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
}

.cart {
    height: 80vh;
    display: flex;
    flex-direction: column;
align-items: center;}

.cart h2{
    margin: 5px;
    align-self: flex-start;
}
.cart-empty {
    height: 75vh;
    background-color: rgb(255, 255, 255);
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cart-empty img{
    height: 400px;
    width: auto;
}

.cart-conts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
}

.cart button {
    width: 10%;
    background-color: rgb(30, 78, 200);
    color: white;
    border-radius: 17px;
    padding: 10px 20px;
    font-size: 15px;
    margin-top: 15px;
}

.cart button:hover {
    transform: scale(1.1);
    font-size: 18px;
}

