* {
    font-family: 'Lucida Sans';
    margin: 0;
}

.nav {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    color: white;
    /* position: fixed; */
    background-color: black;
    height: 80px;
    position: fixed;
}


/* hero */
.hero {
    background-image: linear-gradient(to right, #f000 -10%, #000 140%), url("../public/images/pexels-tim-douglas-6567541.jpg");
    background-position: center;
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

.hero-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1%;
    width: 35%;
    margin-left: 120px;
}


.hero h1 {
    font-size: 37px;
}

.hero p {
    font-size: 18px;
    margin-top: 4%;
    line-height: 18px;
}

/* Search bar */
.search-bar {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.search_inp {
    width: 600px;
    height: 60px;
    border-radius: 20px;
    padding: 0 15px;
    font-size: 20px;
    margin-right: 10px;
}

/* /Cart */